<app-sharedlearning>
	<div class="container header_content">
	  <div class="row">
	    <div class="Absolute-Center is-Responsive">
	      <div class="col-sm-12">
			<div class="panel panel-primary">
		 		<div class="panel-heading">
		 			<h3 class="panel-title"><strong class="strong-css">User Details QR</strong></h3>
		 		</div>
		 		<div class="panel-body">
		 			<div class="form-group">
		 				<label class="col-sm-4 control-label"></label>
		 				<div class="col-sm-8">

		 					<qrcode [qrdata]="qrdata" [size]="256" [level]="'M'"></qrcode>

		 				</div>
		 			</div>
		 		</div>
		 	</div>
		   </div>
		</div>
	</div>
	</div>
</app-sharedlearning>
