
	
<div class="header">
  <a href="#" class="logo"><img src="./../../../assets/logo/logo.png"  height="50" width="70" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hospital 93</a>
  <span class="header-right">Welcome {{username}}&nbsp;&nbsp;&nbsp;<a href="./home/logout"><abbr title="LOGOUT"><i class="fa fa-sign-out" style="font-size:28px"></i></abbr></a></span>
</div>

<div class="navbarCustom">
	<div class="dropdown">
	  <button class="dropbtn"><a href="./home">Home</a></button>
	</div>
	<div class="dropdown">
	  <button class="dropbtn">Administrator</button>
	  <div class="dropdown-content">
	    <a href="./home/add-patient">Add Patient</a>
	    <a href="./home/csv">Upload Records</a>
	  </div>
	</div>
	<div class="dropdown">
	  <button class="dropbtn"><a href="./home/gallery">Gallery</a></button>
	</div>
	<div class="dropdown">
	  <button class="dropbtn"><a href="/home/paymentgateway">PayPal Gateway</a></button>
	</div>
</div>
<div (onScroll)="track($event)">
<div class="progress">
  <div class="progress-bar" role="progressbar" [style.width]="progressWidth" value="50" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
</div>

<ng-content select=".header_content"></ng-content>


</div>
<div class="footer_content">
  <p>© Since 2019 - Hospital portal (+91 999999978) </p>
</div>