<app-shared>
	<div class="container header_content">
	
		<div class="row">
		    <div class="Absolute-Center is-Responsive">
		      <div class="col-sm-12">
		      	<lib-vidlib></lib-vidlib>
		      	<br/>
				 <div class="panel panel-primary">
				 	<div class="panel-heading">
			 			<h3 class="panel-title"><strong class="strong-css">Gallery</strong></h3>
			 		</div>
			 		<div class="panel-body">
						<ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
			 		</div>
			 	 </div>
			  </div>
			</div>
		</div>
	</div>
</app-shared>