<app-patient-tabs></app-patient-tabs>

<div class="container">
    <div class="row">
		<div class="col-xs-12 tab-list-view">
			<div class="tab-content">
				<div class="tab-pane active">                
					
				  <h2>Medication</h2>
				  <p></p>
				  <form>
				  	<div class="row filter">
					  	<div class="col-md-4">
					  		<b> Select Drug : </b>
							<select class="soflow" *ngIf= "dropdown_data !=''" (change)="drugDropdownOnChange($event)">
							  	<option value='' selected >Select Drug</option>
							 	<option *ngFor="let dropdown of dropdown_data; let counter=index" [value]="dropdown">{{dropdown}}</option>
							</select>
					  	</div>
					  	<!-- <button type="button" class="btn btn-primary">Submit</button> -->
					</div>
				  </form>


				  <table class="table table-bordered" *ngIf="patient_medication_data != ''">
				    <thead>
				      <tr>
				        <th class="text-center">ID</th>
				        <th class="text-center">Drug</th>
				        <th class="text-center">Dose</th>
				        <th class="text-center">Strength</th>
				        <th class="text-center">Report Date</th>
				      </tr>
				    </thead>
				    <tbody>
				      <tr *ngFor="let medication of patient_medication_data | paginate: { itemsPerPage: 10, currentPage: p }; let j = index" class="text-center" >
				        <td>{{j+1}}</td>
				        <td>{{medication.drug | strupper}}</td>
				        <td>{{medication.dose}}</td>
				        <td>{{medication.strength}}</td>
				        <td>{{medication.report_date}}</td>
				      </tr>
				    </tbody>
				  </table>
				  <pagination-controls (pageChange)="p = $event"></pagination-controls>

				  <table class="table table-bordered" *ngIf="patient_medication_data === ''">
				    <thead>
				      <tr>
				        <th class="text-center">ID</th>
				        <th class="text-center">Dose</th>
				        <th class="text-center">Drug</th>
				        <th class="text-center">Strength</th>
				        <th class="text-center">Report Date</th>
				      </tr>
				    </thead>
				    <tbody>
				      <th colspan="5">No Records</th>
				    </tbody>
				  </table>
				</div> 				
			</div>
		</div>
	</div>
</div>