<div class="container">
  <div class="row">
    <div class="Absolute-Center is-Responsive">
      <div class="col-sm-12">
		 <form id="form_login" class="form-horizontal" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
		 	<div class="panel panel-primary">
		 		<div class="panel-heading">

		 			<h3 class="panel-title"><img src="./../assets/logo/logo.png"  height="30" width="30" /><strong class="strong-css">Login</strong></h3>
		 		</div>
		 		<div class="panel-body">
		 			<notifier-container></notifier-container>
		 			<div class="form-group" [ngClass] = "{'has-error' : loginForm.get('email').errors  && (loginForm.get('email').touched || loginForm.get('email').dirty)}">
		 				<label class="col-sm-2 control-label">Email</label>
		 				<div class="col-sm-8">
		 					<input type="text" id="email" formControlName="email" name="email" class="form-control">
		 					<span *ngIf="loginForm.get('email').errors && (loginForm.get('email').touched || loginForm.get('email').dirty)">Full name is required</span>
		 				</div>
		 			</div> 
		 			<div class="form-group" [ngClass] = "{'has-error' : loginForm.get('password').errors  && (loginForm.get('password').touched || loginForm.get('password').dirty)}">
		 				<label class="col-sm-2 control-label">Password</label>
		 				<div class="col-sm-8">
		 					<input type="password" id="password" formControlName="password" name="password" class="form-control">
		 					<span *ngIf="loginForm.get('password').errors && (loginForm.get('password').touched || loginForm.get('password').dirty)">Password is required</span>
		 				</div>
		 			</div>
		 		</div>
		 		<div class="panel-footer">
		 			<div class="btn-toolbar">
			 			<button class="btn btn-primary" type="submit" [disabled]="loginForm.invalid">Login</button>
			 		</div>
		 		</div>
		 	</div>
		 </form>
		</div>
	</div>
</div>
</div>
