<app-sharedlearning>
	<div class="container header_content">

		<div class="row">
		    <div class="Absolute-Center is-Responsive">
		      <div class="col-sm-12"><br/>
		      	<div class="panel panel-primary">
				 	<div class="panel-heading">
			 			<h3 class="panel-title"><strong class="strong-css">Learning Topics </strong></h3>
			 		</div>
			 		<div class="panel-body btn-toolbar">
						<button type="button" class="btn btn-info btn-lg btn-custom"><a href="./learning/customdirective">Custom Directive</a></button>
						<button type="button" class="btn btn-info btn-lg btn-custom"><a href="./learning/graph">Graph</a></button>
						<button type="button" class="btn btn-info btn-lg btn-custom"><a href="./learning/chatroom">GoTo ChatRoom</a></button>
						<button type="button" class="btn btn-info btn-lg btn-custom"><a href="./learning/mail">Send Mail (MCE Editor)</a></button>
						<button type="button" class="btn btn-info btn-lg btn-custom"><a href="./learning/qr">QR Gnerator</a></button>
						<button type="button" class="btn btn-info btn-lg btn-custom"><a href="./learning/captcha">Captcha Recognition</a></button>
						<button type="button" class="btn btn-info btn-lg btn-custom"><a href="./learning/sms">Send SMS</a></button>
						<button type="button" class="btn btn-info btn-lg btn-custom"><a href="./learning/onesignal">OneSignal- Web Push Notification</a></button>
						<button type="button" class="btn btn-info btn-lg btn-custom"><a href="./learning/googlemap">Google Map</a></button>
						<button type="button" class="btn btn-info btn-lg btn-custom"><a href="./learning/customobservable">Get Data without Subscribe</a></button>
						<button type="button" class="btn btn-info btn-lg btn-custom"><a href="./learning/lifecyclehook">Life Cycle Hooks</a></button>
						<button type="button" class="btn btn-info btn-lg btn-custom"><a href="./learning/custompromiseobservable">Custom Promise/Observable</a></button>
					</div>
				</div>
			   </div>
			</div>
		</div>
	</div>
</app-sharedlearning>