<app-patient-tabs></app-patient-tabs>

<div class="container">
    <div class="row">
		<div class="col-xs-12 tab-list-view">
			<div class="tab-content">
				<div class="tab-pane active"> 

					<h2>Patient Information</h2>
					<table class="table">
					    <tbody>
				    	  <tr>
					        <td class="table-border table-bold">Unique No.</td>
					        <td class="table-border table-bold">:</td>
					        <td class="table-border">{{patient_datas.unique_num}}</td>
					      </tr>
					      <tr>
					        <td class="table-border table-bold">Name</td>
					        <td class="table-border table-bold">:</td>
					        <td class="table-border">{{patient_datas.name}}</td>
					      </tr>
					      <tr>
					        <td class="table-border table-bold">Email</td>
					        <td class="table-border table-bold">:</td>
					        <td class="table-border">{{patient_datas.email}}</td>
					      </tr>
					      <tr>
					        <td class="table-border table-bold">Mobile</td>
					        <td class="table-border table-bold">:</td>
					        <td class="table-border">{{patient_datas.mobile}}</td>
					      </tr>
					      <tr>
					        <td class="table-border table-bold">DOB</td>
					        <td class="table-border table-bold">:</td>
					        <td class="table-border">{{patient_datas.dob}}</td>
					      </tr>
					      <tr>
					        <td class="table-border table-bold">Address</td>
					        <td class="table-border table-bold">:</td>
					        <td class="table-border">{{patient_datas.address}}</td>
					      </tr>
					    </tbody>
					  </table>


				</div>
			</div>
		</div>
	</div>
	</div>